@model IEnumerable<Academia1.Models.Aluno>

@{
    ViewData["Title"] = "Meus Alunos";
}
@if (TempData["Mensagem"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Mensagem"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h2 class="text-warning mb-4">Meus Alunos</h2>


<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    @foreach (var aluno in Model)
    {
        <div class="col">
            <div class="card shadow bg-dark text-white border-warning">
                <div class="card-body">
                    <h5 class="card-title text-warning">@aluno.UserName</h5>
                    <p class="card-text"><strong>Email:</strong> @aluno.Email</p>
                    <p class="card-text"><strong>Treinos:</strong> @(aluno.Treinos?.Count() ?? 0)</p>

                    <div class="d-flex flex-wrap gap-2 mt-3">
                        <a  asp-controller="PersonalAluno"  asp-action="TreinosAtuais" asp-route-id="@aluno.Id" class="btn btn-warning text-dark fw-bold">
                            <i class="bi bi-clipboard-check-fill"></i> Ver Treino
                        </a>
                        <a asp-action="DetailsAluno" asp-route-id="@aluno.Id" class="btn btn-secondary">
                            <i class="bi bi-info-circle-fill"></i> Detalhes
                        </a>
                        <a asp-action="EditAluno" asp-route-id="@aluno.Id" class="btn btn-outline-warning">
                            <i class="bi bi-pencil-fill"></i> Editar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
