@model Academia1.Models.Personal

@{
    ViewData["Title"] = "Excluir Personal";
}

<h2 class="text-warning mb-4">@ViewData["Title"]</h2>

<h3>Tem certeza que deseja excluir este personal?</h3>

<dl class="row">
    <dt class="col-sm-2">Usuário</dt>
    <dd class="col-sm-10">@Model.UserName</dd>

    <dt class="col-sm-2">Email</dt>
    <dd class="col-sm-10">@Model.Email</dd>

    <dt class="col-sm-2">Nascimento</dt>
    <dd class="col-sm-10">@Model.Data_Nascimento.ToShortDateString()</dd>

    <dt class="col-sm-2">Instagram</dt>
    <dd class="col-sm-10">@Model.Instagram</dd>

    <dt class="col-sm-2">Observações</dt>
    <dd class="col-sm-10">@Model.Observacoes</dd>

    <dt class="col-sm-2">Especialidade</dt>
    <dd class="col-sm-10">@Model.Especialidade</dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Excluir" class="btn btn-danger" />
    <a asp-action="Personais Academia" class="btn btn-secondary">Cancelar</a>
</form>
