@model Academia1.Models.Personal

@{
    ViewData["Title"] = "Meu perfil";
}


<h2 class="text-warning mb-4">Editar Perfil</h2>


<div class="card shadow-lg mb-4" style="border-radius: 10px;">
    <div class="card-body" style="background-color: #212529; color: white;">
        <h5 class="card-title text-warning">Informações Pessoais</h5>

        <!-- Formulário de edição -->
        <form method="post" asp-action="Edit" class="mt-4">
            <div class="mb-3">
                <label for="UserName" class="form-label text-warning">Nome de Usuário</label>
                <input type="text" class="form-control" id="UserName" name="UserName" value="@Model.UserName" required />
            </div>

            <div class="mb-3">
                <label for="Email" class="form-label text-warning">Email</label>
                <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" required />
            </div>

            <div class="mb-3">
                <label for="Data_Nascimento" class="form-label text-warning">Data de Nascimento</label>
                <input type="date" class="form-control" id="Data_Nascimento" name="Data_Nascimento" value="@Model.Data_Nascimento.ToString("yyyy-MM-dd")" required />
            </div>

            <div class="mb-3">
                <label for="Instagram" class="form-label text-warning">Instagram</label>
                <input type="text" class="form-control" id="Instagram" name="Instagram" value="@Model.Instagram" />
            </div>

            <div class="mb-3">
                <label for="Especialidade" class="form-label text-warning">Especialidade</label>
                <input type="text" class="form-control" id="Especialidade" name="Especialidade" value="@Model.Especialidade" />
            </div>

            <div class="mb-3">
                <label for="Observacoes" class="form-label text-warning">Observações</label>
                <textarea class="form-control" id="Observacoes" name="Observacoes" rows="3">@Model.Observacoes</textarea>
            </div>

            <!-- Campo de troca de senha -->
            <div class="mb-3">
                <label for="novaSenha" class="form-label text-warning">Nova Senha (Deixe em branco para manter a atual)</label>
                <input type="password" class="form-control" id="novaSenha" name="novaSenha" placeholder="Digite a nova senha" />
            </div>
            
            <a asp-action="Perfil" class="btn btn-danger"> Voltar    </a>
            <button type="submit" class="btn btn-danger">
                <i class="bi bi-save"></i> Salvar Alterações
            </button>
        </form>
            
    </div>
</div>

