@model Academia1.Models.Personal

@{
    ViewData["Title"] = "Meu perfil";
}

<h2 class="text-warning mb-4">Meu Perfil</h2>

<div class="container">
    <div class="card shadow-lg mb-4" style="border-radius: 10px;">
        <div class="card-body" style="background-color: #212529; color: white;">
            <h5 class="card-title text-warning">Informações Pessoais</h5>

            
            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="background-color: #212529; color: white;">
                    <strong>Nome de Usuário:</strong> @Model.UserName
                </li>
                <li class="list-group-item" style="background-color: #212529; color: white;">
                    <strong>Email:</strong> @Model.Email
                </li>
                <li class="list-group-item" style="background-color: #212529; color: white;">
                    <strong>Data de Nascimento:</strong> @Model.Data_Nascimento.ToShortDateString()
                </li>
                <li class="list-group-item" style="background-color: #212529; color: white;">
                    <strong>Instagram:</strong> @Model.Instagram
                </li>
                <li class="list-group-item" style="background-color: #212529; color: white;">
                    <strong>Especialidade:</strong> @Model.Especialidade
                </li>
                <li class="list-group-item" style="background-color: #212529; color: white;">
                    <strong>Observações:</strong> @Model.Observacoes
                </li>
            </ul>

            <!-- Botões para editar e excluir o perfil -->
            <div class="mt-4 text-center">

                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"><i class="bi bi-plus-circle"></i> Editar Perfil</a>
               

                <!-- Botão Excluir Perfil -->
                <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger" style="width: 200px;">
                    <i class="bi bi-trash"></i> Excluir Perfil
                </a>
            </div>

        </div>
    </div>
</div>
