@model IEnumerable<Academia1.Models.Treino>

@{
    ViewData["Title"] = "Treinos";
}

<br />
<br />
@if (TempData["Mensagem"] != null)
{
    <div class="alert alert-danger">
        @TempData["Mensagem"]
    </div>
}

<h2>Lista de Treinos</h2>

<div class="mb-3">
    <a asp-action="Create" class="btn btn-primary">Adicionar Novo Treino</a>
</div>

<div class="row">
    @foreach (var treino in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title"><i class="bi bi-calendar-check"></i> @treino.NomeTreino</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">@treino.Descricao</p>
                    <p><strong>Aluno:</strong> @treino.Aluno?.UserName</p>
                    <div class="d-flex justify-content-between">
                        <a asp-action="Details" asp-route-id="@treino.TreinoID" class="btn btn-info btn-sm"><i class="bi bi-info-circle"></i> Detalhes</a>
                        <a asp-action="Edit" asp-route-id="@treino.TreinoID" class="btn btn-warning btn-sm"><i class="bi bi-pencil"></i> Editar</a>
                        <a asp-action="Delete" asp-route-id="@treino.TreinoID" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Excluir</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
